:root {
  --boardHeight: 600px;
  --linewidth: 16px;
  --squareHeight: calc(var(--boardHeight) / 3 - var(--linewidth));
}

/* tile colors */

@font-face {
  font-family: "Rocher";
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}
@font-palette-values --Purples {
  font-family: Rocher;
  base-palette: 6;
}
@font-palette-values --Mint {
  font-family: Rocher;
  base-palette: 7;
}

/* tile colors */

body {
  background: linear-gradient(45deg, #a020f0, #00ffcc);
  font-family: "Rocher";
}

h1 {
  font-size: 10em;
  text-align: center;
  margin: auto;
  color: #800080;
}

h2 {
  font-size: 5em;
  text-align: center;
  margin: auto;
  color: #000000;
}

.board {
  height: var(--boardHeight);
  width: var(--boardHeight);
  margin: auto;
  margin-top: 5em;
  background-color: #e6ccff;
  border-radius: 1em;
}

.squares {
  float: left;
  margin-left: calc(var(--linewidth) * 3 / 4);
  margin-top: calc(var(--linewidth) * 3 / 4);
  height: var(--squareHeight);
  width: var(--squareHeight);
  background-color: #84f1e0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
}

.squares:hover {
  transition: all 0.25s;
  background-color: rgb(0, 157, 200);
}

.tile-purple {
  font-size: 10em;
  font-family: "Rocher";
  text-align: center;
  font-palette: --Purples;
}

.tile-mint {
  font-size: 10em;
  font-family: "Rocher";
  font-palette: --Mint;
}

/* #tile {
  font-size: 10em;
} */

#restart {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  height: 75px;
  width: 150px;
  font-size: 2em;
  margin-top: 75px;
  font-family: "Rocher";
  background-color: #9400D3;
}
