:root {
  --boardHeight: 600px;
  --linewidth: 6px;
  --squareHeight: calc((var(--boardHeight) - (calc(var(--linewidth) * 2))) / 3);
}

h1 {
  font-size: 10em;
  text-align: center;
  margin: auto;
}

h2 {
  font-size: 5em;
  text-align: center;
  margin: auto;
}

.board {
  height: var(--boardHeight);
  width: var(--boardHeight);
  margin: auto;
  margin-top: 5em;
  background-color: #555;
}

.squares {
  float: left;
  height: var(--squareHeight);
  width: var(--squareHeight);
  background-color: rgb(0, 200, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Squares */

#top-left {
  border-right: var(--linewidth) solid black;
  border-bottom: var(--linewidth) solid black;
}

#top-middle {
  border-bottom: var(--linewidth) solid black;
  border-right: var(--linewidth) solid black;
}

#top-right {
  border-bottom: var(--linewidth) solid black;
}

#middle-left {
  border-right: var(--linewidth) solid black;
  border-bottom: var(--linewidth) solid black;
}

#middle-middle {
  border-bottom: var(--linewidth) solid black;
  border-right: var(--linewidth) solid black;
}

#middle-right {
  border-bottom: var(--linewidth) solid black;
}

#bottom-left {
  border-right: var(--linewidth) solid black;
}

#bottom-middle {
  border-right: var(--linewidth) solid black;
}

/* Squares */

.tile {
  font-size: 10em;
}

#restart {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  height: 75px;
  width: 150px;
  font-size: 2em;
  margin-top: 75px;
}
